:root{
    --fundo:#008080;
    --cartao-frente:#3CB371;
    --cartao-verso:#2E8B57;
    --destaque:#4B0082;
    --preto:#000000;
    --branco:#ffffff;

}

body{
    background-color: var(--fundo);
}

header{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--preto);
}

header a{
    color: var(--branco);
}



footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}